@font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 
@font-face { font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf'); }

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.navbar {
  overflow: hidden;
  background-color: rgb(40, 40, 40);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navbar button{
  float: left;
  display: block;
  text-align: center;
  color: white;
  border-width: 0;
  background-color: rgb(40, 40, 40);
  width: fit-content;
  padding: 20px 30px 20px 30px;
  font-size: large;
}
.navbar button:hover {
  background: #ddd;
  color: black;
}



.intro{
  height: 100vh;
  z-index: 2;
}
.intro video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.section-2{
  color: black;
  min-height: 500px;
  padding-top: 50px;
}
.section-2 h1{
  font-weight: 100;
  text-align: left;
  padding: 50px;
  padding-left: 75px;
  font-size: 300%;
}
.section-2 img{
  height: 40vh;
  padding: 50px;
  padding-top: 0;
}
.section-2 p{
  padding: 50px;
  padding-top: 0;
  font-size: large;
  width: 80%;
}
.section-2 div{
  position: relative;
}
.section-2 div a{
  position: relative;
}
.section-2 div a img{
  max-width: 100px;
  height: auto;
}


.section-3{
  min-height: fit-content;
  align-content: center;
  background-color: white;
}
.section-3 h1{
  font-weight: 100;
  text-align: left;
  padding: 50px;
  padding-left: 75px;
  font-size: 300%;
  color: black;
}
.section-3 p{
  padding: 50px;
  padding-top: 0;
  font-size: large;
  width: 80%;
  color: black;
}

.section-4{
  background-color:rgb(90, 90, 150);
  min-height: fit-content-100;
}
.section-4 h2{
  color: white;
  font-weight: 100;
  text-align: left;
  padding: 50px;
  padding-left: 75px;
  font-size: 300%;
}
.section-4 div{
  padding: 30px;
  background-image: url('monitor.png');
  background-repeat: no-repeat;
  background-position: 0px -50px;
  height: 500px;
  width: 600px;
  display: inline-block;
  padding-bottom: 0;
}
.section-4 div video{
  width: 440px;
  text-align: center;
  position: relative;
  top: 0px;
  left: 6px;
}
.section-4 p{
  padding: 50px;
  padding-top: 0;
  font-size: large;
  width: 80%;
  color: white;
  width: 50%;
  min-width: 450px;
  display: inline-block;
  vertical-align: top;
}
.section-4 p a{
  color:lightblue;
}

.section-5{
  background-color:rgb(154, 235, 133);
  min-height: fit-content;
}
.section-5 h2{
  color: black;
  font-weight: 100;
  text-align: left;
  padding: 50px;
  padding-left: 75px;
  font-size: 300%;
}
.section-5 div{
  padding: 30px;
  padding-top: 0;
  display: inline-block;
  padding-left: 30px;
}
.section-5 div video{
  width: 400px;
  text-align: center;
  position: relative;
}
.section-5 p{
  padding: 50px;
  padding-top: 0;
  font-size: large;
  width: 80%;
  color: black;
  width: 50%;
  min-width: 450px;
  display: inline-block;
  vertical-align: top;
}
.section-5 a{
  color: blue;
}


.section-6{
  background-color:rgb(255, 244, 149);
  min-height: fit-content;
}
.section-6 h2{
  color:black;
  font-weight: 100;
  text-align: left;
  padding: 50px;
  padding-left: 75px;
  font-size: 300%;
}
.section-6 div{
  padding: 30px;
  background-image: url('monitor.png');
  background-repeat: no-repeat;
  background-position: 0px -50px;
  height: 500px;
  width: 600px;
  display: inline-block;
  padding-bottom: 0;
}
.section-6 div video{
  width: 440px;
  text-align: center;
  position: relative;
  top: 0px;
  left: 5px;
}
.section-6 p{
  padding: 50px;
  padding-top: 0;
  font-size: large;
  width: 80%;
  color: black;
  width: 50%;
  min-width: 450px;
  display: inline-block;
  vertical-align: top;
}
.section-6 p a{
  color: blue;
}


.section-7{
  background-color:rgb(107, 107, 107);
  min-height: fit-content;
}
.section-7 h2{
  color: white;
  font-weight: 100;
  text-align: left;
  padding: 50px;
  padding-left: 75px;
  font-size: 300%;
}
.section-7 div{
  padding: 30px;
  padding-top: 0;
  width: 350px;
  height: 400px;
  display: inline-block;
  padding-left: 80px;
  background-image: url('gba.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: 0px -20px;
}
.section-7 div video{
  position: relative;
  top: 10px;
  left: -7px;
  width: 240px;
}
.section-7 p{
  padding: 50px;
  padding-top: 0;
  font-size: large;
  width: 80%;
  color: white;
  width: 50%;
  min-width: 450px;
  display: inline-block;
  vertical-align: top;
}
.section-7 a{
  color: lightblue;
}

.section-8{
  background-color:rgb(255, 255, 255);
  min-height: fit-content;
}
.section-8 h2{
  color:black;
  font-weight: 100;
  text-align: left;
  padding: 50px;
  padding-bottom: 0;
  padding-left: 75px;
  font-size: 300%;
}
.section-8 div{
  padding-left: 30px;
  width: 600px;
  display: inline-block;
  padding-bottom: 0;
}
.section-8 div video{
  width: 450px;
  text-align: center;
  position: relative;
  top: 20px;
  left: 5px;
}
.section-8 p{
  padding: 50px;
  padding-bottom: 100px;
  font-size: large;
  width: 80%;
  color: black;
  width: 50%;
  min-width: 450px;
  display: inline-block;
  vertical-align: top;
}


.section-9{
  background-color:rgb(107, 107, 107);
  min-height: fit-content;
}
.section-9 h2{
  color: white;
  font-weight: 100;
  text-align: left;
  padding: 50px;
  padding-left: 75px;
  padding-bottom: 0;
  font-size: 300%;
}
.section-9 div{
  padding: 30px;
  padding-top: 0;
  width: 500px;
  height: 500px;
  display: inline-block;
  padding-left: 80px;
  background-image: url('monitor.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -50px;
}
.section-9 div video{
  position: relative;
  top: 22px;
  left: -45px;
  width: 430px;
}
.section-9 p{
  padding: 50px;
  font-size: large;
  width: 80%;
  color: white;
  width: 50%;
  min-width: 450px;
  display: inline-block;
  vertical-align: top;
}
.section-9 a{
  color: lightblue;
}


.section-10{
  color: black;
  min-height: fit-content;
  padding-top: 50px;
  padding-bottom: 75px;
  
}
.section-10 h1{
  font-weight: 100;
  text-align: left;
  padding: 50px;
  padding-bottom: 0;
  padding-left: 75px;
  font-size: 300%;
}
.section-10 p{
  padding: 50px;
  padding-bottom: 0;
  padding-top: 0;
  font-size: large;
  width: 80%;
}

.section-10_1 {
  padding-left: 75px;
  padding-top: 0;
  max-height: max-content;
}
.section-10_1 a img{
  width: 60px;
  padding: 10px;
}
.section-10_1 a img:hover{
  opacity: 50%;
}


/*
 * Mobile CSS here
 */

@media screen and (max-width: 500px) {

  .navbar {
    overflow: hidden;
    background-color: rgb(40, 40, 40);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .navbar button{
    float: left;
    display: block;
    text-align: center;
    color: white;
    border-width: 0;
    background-color: rgb(40, 40, 40);
    width: fit-content;
    padding: 10px 20px 10px 20px;
    font-size: small;
  }
  .navbar button:hover {
    background: #ddd;
    color: black;
  }

}